/* navbar section */
.navbar {
    height: 70px;
    width: 1500px;
    background-color: bisque;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    justify-content: center;

}

.logo {
    background-image: url(/actual_images/logo-removebg-preview.png);
    background-size: cover;
    width: 177px;
    height: 77px;
    position: relative;
    bottom: 11px;




}

.logo2 {
    background-image: url(/actual_images/logo2_nobackground.png);
    background-size: cover;
    width: 177px;
    height: 77px;
    position: relative;
    bottom: 11px;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
}

.dropdown a {
    text-decoration: none;
    color: black;



    padding-right: 50px;

}

.list {
    padding-right: 50px;
}

.dropdown ul {
    list-style-position: outside;

    list-style-type: none;




}

.dropdown li {
    float: left;
    margin-right: 50px;

}

.search {
    position: relative;
    right: 328px;
    top: 8px;


}

input[type=text] {
    width: 252px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./actual_images/search.png');
    background-position: 14px 7px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 68px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: fixed;
    
}

